<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.s', :resource => resource_class.model_name.human, :default => "Editar Conta") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <div class="col-md-6 no-padding">
            <%= f.label :Nome %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="col-md-6 no-padding left-padding">
            <%= f.label :Sobrenome %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :Senha %>
          <i>(<%= t('.lst', :default => "deixe em branco caso não deseje alterar") %>
            )</i><br/>
          <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Confimar_senha %><br/>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Senha_atual %>
          <i>(<%= t('.s', :default => 'precisamos da sua senha atual para confimar suas mudanças') %>
            )</i>
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
        <%= f.submit t('.a', :default => "Atualizar"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<p><%= t('.cancelar', :default => 'Deletar') %>
  ? <%= link_to t('.cancelar_minha_conta', :default => "Cancelar minha conta"), registration_path(resource_name), :data => {:confirm => t('.voce_tem_certeza', :default => "Você tem certeza?")}, :method => :delete %>
  .</p>

<%= link_to t('.voltar', :default => 'Voltar'), :back %>
