<div id="stock-lookup">
  <h3>Procucar cotações da bolsa</h3>
  <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
      <div class="form-group row no-padding text-center col-md-12">
        <div class="col-md-10"
        >
          <%= text_field_tag :stock, params[:stock], placeholder: 'Símbolo de cotações da bolsa', autofocus: true, class: 'form-control search-box input-lg' %>
        </div>
        <div class="col-md-2">
          <%= button_tag(type: :submit, class: 'btn btn-success') do %>
              <i class="fa fa-search"></i> Consultar cotação
          <% end %>

        </div>
      </div>
  <% end %>

  <%= render 'common/spinner' %>

  <% if @stock %>

      <div id="stock-lookup-results" class="well results-block">

      <strong>Simbolo:</strong> <%= @stock.ticker %>
      <strong>Empresa:</strong> <%= @stock.name %>
      <strong>Preço:</strong> <%= @stock.price %>
      </div>
  <% end %>
  <div id="stock-lookup-erros"></div>
</div>