<%= render 'friends/lookup' %>

<% if @friendships.size > 0 %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th colspan="3" class="page-header">
          <h2>Meus Amigos</h2>
        </th>
      </tr>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Opções</th>
      </tr>
      </thead>
      <tbody>
      <% @friendships.each do |friend| %>
          <tr>
            <td><%= friend.full_name %></td>
            <td><%= friend.email %></td>
            <td>
              <%= link_to 'Ver Perfil', user_path(friend), class: "btn btn-info btn-xs" %>
              <%= link_to 'Remover', friendship_path(friend), :method => :delete, :data => {:confirm => 'Tem certeza que deseja remover?'},
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="row col-lg-12">
      <p class="lead">Você não possuem nenhum amigo ainda, por favor adicione algum!</p>
    </div>
<% end %>