<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Finance Tracker', root_path, class: 'navbar-brand' %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav col-md-3">
        <li><%= link_to ' Portfolio ', 'http://rudisdev.com', class: 'fa fa-chrome', target: '_blank' %></li>
        <li><%= link_to '', 'https://www.facebook.com/juniorrsm', class: 'fa fa-facebook', target: '_blank' %></li>
        <li><%= link_to '', 'https://twitter.com/rudis_lee', class: 'fa fa-twitter', target: '_blank' %></li>
      </ul>
      <% if current_user %>
          <ul class="nav navbar-nav cold-md-6">
            <li><%= link_to ' Minhas Ações ', my_portfolio_path, class: 'fa fa-money' %></li>
            <li><%= link_to ' Minha conta', edit_registration_path(current_user), class: 'fa fa-pencil-square-o' %></li>
          </ul>
          <ul class="nav navbar-right col-md-4">
            <li class="col-md-4 user-name text-right">
              <i class="fa fa-user"></i>
              <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
            <li class="col-md-4 logout"><%= link_to('Sair', destroy_user_session_path, class: 'btn btn-md btn-danger', method: :delete) %>
            </li>
          </ul>
          </div>
      <% end %>

      </div>
</div>

